:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #a5a5a5;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #cbafa4;
  --second-brand-color: #b77253;
  --third-brand-color: #efb180;

  --main-font: 'Open Sans';
  --title-font: 'Roboto';

  font-size: 62.5%;
}
